@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h3 class="glyphicon-bold">Order Management System</h3>
       

    <div id="tblCustomers" ng-controller="APIController" >

                <button class="btn btn-specialone" ng-click=""> Customer</button>
                <button class="btn btn-specialone" ng-click=""> Order</button>
                <button class="btn btn-specialone" ng-click=""> Payment</button>
                <button class="btn btn-specialone" ng-click=""> Design </button>
                <button class="btn btn-specialone" ng-click=""> Product </button>
                
                &nbsp;
                &nbsp;
                &nbsp;

                <div>

                    <table ng-show="showAllCustomers" class="table table-bordered table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Customer Address </th>
                                <th>Phone Number</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="cust in customers">


                                <td>{{cust.custname}}</td>

                                <td>{{cust.custAddress}}</td>

                                <td>{{cust.custPhone}}</td>

                            </tr>
                            <tr>
                                <td>

                                    <button class="btn btn-success" ng-click="addCustomer()"> Add Customer</button>


                                </td>


                            </tr>

                        </tbody>

                    </table>
                </div>        
                

        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;

        <div ng-show="showAddCustomer" class="form-group">

            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;

            <label  for="customerName"></label> 
            <input type="text" class="form-control" id="customerName" placeholder="Enter Customer" [required="string" ] data-ng-model="customerName" />
            <label for="customerAddress"></label>
            <input type="text" class="form-control" id="customerAddress" placeholder="Enter Customer Address" [required="string" ] data-ng-model="customerAddress" />
            <label for="customerPhone"></label>
            <input type="text" class="form-control" id="customerPhone" placeholder="Enter Customer Phone" [required="string" ] data-ng-model="customerPhone" />
            <br />
            
             <button class="btn btn-primary" ng-click="saveCustomerInfo()"> Save</button>

        
        </div>

   
  </div>



</div>
</div>